@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

#nprogress .bar {
  background: #22c55e !important;
  height: 4px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #22c55e, 0 0 5px #22c55e !important;
}

#nprogress .spinner-icon {
  border-top-color: #22c55e !important;
  border-left-color: #22c55e !important;
}
